<configuration>
    <!-- Конфигурация аппендера для корневого логгера с уровнем INFO -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>application.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Конфигурация аппендера для логгера с уровнем DEBUG -->
    <appender name="debugFile" class="ch.qos.logback.core.FileAppender">
        <file>debug.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для корневого логгера: INFO -->
    <root level="INFO">
        <appender-ref ref="file" />
    </root>

    <!-- Уровень логирования для логгера с уровнем DEBUG -->
    <logger name="com.example.package" level="DEBUG">
        <appender-ref ref="debugFile" />
    </logger>

    <!-- Уровень логирования для логгера с уровнем ERROR -->
    <logger name="com.example.package" level="ERROR">
        <appender-ref ref="errorFile" />
    </logger>

    <!-- Конфигурация аппендера для логгера с уровнем ERROR -->
    <appender name="errorFile" class="ch.qos.logback.core.FileAppender">
        <file>error.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
